<!DOCTYPE html>
<html lang= "en">
    <head>
        <title> Community Service</title>
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="utf-8"/>
    </head>
<body>
    
    <nav>
        <a href = "/"><img src = "/css/images/SiteLogo.png" width="175" height="72" alt="Site Logo"/></a>
        <ul>
            <li><a href="/connections/new">Create an Event</a></li> 
            <li><a href="/connections"> Events</a></li>
            <li><a href="/"> Login</a></li>
            <li><a href="/"> Sign Up</a></li>

        </ul>
    </nav>