<!DOCTYPE html>
<html lang= "en">
    <head>
        <title> Community Service</title>
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="utf-8"/>
    </head>
<body>
    
    <nav>
        <a href = "index.ejs"><img src = "SiteLogo.JPG" width="175" height="72" alt="Site Logo"/></a>
        <ul>
            <li><a href="newConnection.ejs">Create an Event</a></li> 
            <li><a href="connections.ejs"> Events</a></li>
            <li><a href="index.ejs"> Login</a></li>
            <li><a href="index.ejs"> Sign Up</a></li>

        </ul>
    </nav>