
<%- include('./partials/header.ejs')%>

<div class = green>
<h1> What is CommunityServiceCLT?</h1>

<ul>
<p> A site where you can create events for people to come and complete community service!</p>

<p> A site where you can see events that other people have created!</p>

<img src = "/css/images/SiteLogo.png" width="450" height="225" alt="Site Logo"/>

</ul>

</div>
<%- include('./partials/footer.ejs')%>
