
<%- include('./partials/header.ejs')%>


<div class = orange>
<h1> Need to contact us?</h1>


<p> If you have any inquires you can contact us at: CommunityServiceCLT@gmail.com</p>

<p>For emergencies or to talk to some right now you can reach us at: (704) - xxx - xxxx </p>

<img src = "/css/images/SiteLogo.png" width="450" height="225" alt="Site Logo"/>



<%- include('./partials/footer.ejs')%>
