
<%- include('../partials/header.ejs')%>
<h1>Login!</h1>
<div class = "orange">
    <form action = '/users/login' method = 'POST'>
        
           
                <td><label for="email">Email Address</label></td>
                <td><input type="email" id="email" name="email" class = "fixed-width" required></td>
            
           
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" name="password" class = "fixed-width" required></td>                                                                                                                                                       <br>
          
            
          
                <td colspan="2" class = "align-right"><button>Login</button></td>
        
              
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>


