<%- include('./partials/header.ejs')%>


  <h1>Event Details</h1>
  <h2>University of North Carolina Campus Clean-up</h2>
  
  <div class = "centOut">
    <img src = "UNCClogo.jpg" width="300" height="300"  alt="CLT Logo"/>
  <p>Hosted By UNCC</p>
  <p>Friday, October 30</p>
  <p>10 a.m - 2 p.m</p>
  <p>The annual campus cleanup, which is led by the Office of Waste Management and Recycling, will take place from 10 a.m. to 2 p.m.,<br> Friday, Oct 30 (Note, this is a change from previous reports).
    In an effort to adhere to physical distancing guidelines, participants must <br>sign up online to participate. Masks are required, and gloves and hand sanitizer will be available.
    Bags and pickup sticks will be provided as participants arrive.
    <br> More information and the form to sign up are.</p>

    <input type="submit" value="Delete Event">
    <input type="submit" value="Update Event">
</div>
  
<%- include('./partials/footer.ejs')%>