<%- include('./partials/header.ejs')%>


<h1>Upcoming Events</h1>

<div class="row">
<div class="left">
    <h2>In Person events</h2>
    <p><a href="connection.html"> Campus clean-up - Charlotte</a></p>
    <p><a href="connection.html"> Dog walker - Raleigh Area</a></p>
    <p><a href="connection.html"> Food Pantry  - UNCC</a></p>
</div>
<div class="right">
    <h2>Online</h2>
    <p><a href="connection.html"> Save The Water Mission - Zoom</a></p>
    <p><a href="connection.html"> Crisis Text Line - See details</a></p>
    <p><a href="connection.html"> UN Volunteers - See details</a></p>
</div>
  </div>
  
  <%- include('./partials/footer.ejs')%>
