<%- include('../partials/header.ejs')%>

<h1>Upcoming Events</h1>


    <%if(connections.length) {%>
                                           
        <%connections.forEach(connection=>{%>  
                <div class = orange>         
            <a href="/connections/<%= connection.id%>"><p><%=connection.name%></p></a> 
        </div>  
                           
    
             <%});%>
   <%}else{%>
        <p> There are no connections to display</p>
    <%}%> 
  
  <%- include('../partials/footer.ejs')%>

