<!DOCTYPE html>
<html lang= "en">
    <head>
        <title> CommunityServiceCLT</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8"/>
    </head>
<body>
    
    <nav>
        <a href = "index.html"><img src = "SiteLogo.JPG" width="175" height="72" alt="Site Logo"/></a>
        <ul>
            <li><a href="newConnection.html">Create an Event</a></li> 
            <li><a href="connections.html"> Events</a></li>
            <li><a href="index.html"> Login</a></li>
            <li><a href="index.html"> Sign Up</a></li>

        </ul>
    </nav>
  <h1>Commuity Service</h1>
  
  <p>Welcome to the community service website where you can see and organize community service events in your area.</p>
  
  <img src = "treePlant.jpg" width="800" height="300" alt="Picture of Tree Planting"/>
  <h2>National Volunteer Week!</h2>
    <p> National Volunteer Week is an opportunity to recognize the impact of volunteer service and the power of volunteers to tackle society’s greatest challenges, 
        to build <br> stronger communities and be a force that transforms the world.
         Each year, we shine a light on the people and causes that inspire us to serve, 
         recognizing and <br> thanking volunteers who lend their time, talent and voice to make a 
         difference in their communities. 
         <br>- "PointsOfLife</p>

         <a href="https://www.pointsoflight.org/nvw/#:~:text=April%2017%2D23%2C%202022">Find Out More!</a>

<footer>
    <p> &#169;CommunityServiceCLT </p>
    <p> ABOUT</p>
    <p> CONTACT</p>
</footer>

</body>
</html>