<%- include('../partials/header.ejs')%>

  <h1>Commuity Service</h1>
  <div class = "centOut"> 
    <form action = '/connections' method = 'POST'>

    <label for="topic">Topic:</label>
    <input type="text" id="topic" name="topic">

    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name">

    <label for="hostName">Event Host:</label>
    <input type="text" id="hostName" name="hostName"> 
    
    <label for="date">Event Date:</label>
    <input type="date" id="date" name="date">

    <label for="startTime">Event Start Time:</label>
    <input type="datetime" id="startTime" name="startTime">

    <label for="endTime">Event End Time:</label>
    <input type="datetime" id="endTime" name="endTime">

    <label for="details">Event Description:</label>
    <textarea id="details" name="details" rows="4" cols="50">Please enter a small description about the event you are creating and what it actually involves.</textarea><br>
   
    <label for="image">Submit an image URL:</label>
    <input type="text" id="image" name="image"><br>
  
    <input type="submit">

  </form>
</div>
<%- include('../partials/footer.ejs')%>
