<!DOCTYPE html>
<html lang= "en">
    <head>
        <title> Community Service</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8"/>
    </head>
<body>
    
    <nav>
        <a href = "index.html"><img src = "SiteLogo.JPG" width="175" height="72" alt="Site Logo"/></a>
        <ul>
            <li><a href="newConnection.html">Create an Event</a></li> 
            <li><a href="connections.html"> Events</a></li>
            <li><a href="index.html"> Login</a></li>
            <li><a href="index.html"> Sign Up</a></li>

        </ul>
    </nav>
  <h1>Commuity Service</h1>
  <div class = "centOut">
  <form>

    <label for="eventName">Event Name:</label>
    <input type="text" id="eventName" name="eventName">

    <label for="eventHost">Event Host:</label>
    <input type="text" id="eventHost" name="eventHost">

    <label for="eventLoc">Event Location:</label>
    <input type="text" id="eventLoc" name="eventLoc">   
    
    <label for="eventDate">Event Date:</label>
    <input type="date" id="eventDate" name="eventDate">

    <label for="eventDesc">Event Description:</label>
    <textarea id="eventDesc" name="eventDesc" rows="4" cols="50">Please enter a small description about the event you are creating and what it actually involves.</textarea><br>
   
    <label for="eventImage">Submit an image!:</label>
    <input type="file" id="eventImage" name="eventImage" accept="image/*"><br>
  
    <input type="submit">

  </form>
</div>
<footer>
    <p> &#169;CommunityServiceCLT </p>
    <p> ABOUT</p>
    <p> CONTACT</p>
</footer>

</body>
</html>